.container-card {
  width: 370px;
  background-color: $color-primario-fondo-pantalla;
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
}
.container-card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.flex-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.container-card__product-title,
.container-card__product-descript {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.container-card__product-title {
  font-weight: 500;
  margin-bottom: 5px;
}
.container-card__product-descript {
  color: $color-segundo-texto;
}
.container-card__card-body {
  padding: 20px 24px;
}
.container-card__card-animation {
  top: 0px;
  position: absolute;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: $color-primario-fondo-pantalla;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-card:hover .container-card__card-animation {
  transform: translateY(0%);
}
.card-image {
  position: relative;
  overflow: hidden;
}
