.container-card {
  background-color: $color-primario-fondo-pantalla;
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
}
.container-card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-cards {
  display: flex;
  flex-basis: calc((100% - 30px * 1) / 1);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}
.flex-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.container-card__product-title,
.container-card__product-descript {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.container-card__product-title {
  font-weight: 500;
  margin-bottom: 5px;
}
.container-card__product-descript {
  color: $color-segundo-texto;
}
.container-card__card-body {
  padding: 20px 24px;
}
@media screen and (max-width: 767px) {
  .container-card__card-animation {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    padding: 80px 24px;
    color: $color-primario-fondo-pantalla;
    letter-spacing: 0.03em;
    transform: translateY(101%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.container-card__card-animation {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 50px 24px;
  color: $color-primario-fondo-pantalla;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-card:hover .container-card__card-animation {
  transform: translateY(0%);
}
.card-image {
  position: relative;
  overflow: hidden;
}
