.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  &__item {
    flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
.feature {
  padding-bottom: 60px;
}
.features__box {
  height: 120px;
  background-color: $color-work;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--margin {
    margin-bottom: 30px;
  }
}
.features__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  &--margin {
    margin-bottom: 10px;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features__item {
  --grid-item: 1;
  @media screen and (min-width: 480px) {
    --grid-item: 1;
  }
  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --grid-item: 4;
  }
}
