.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feature .container .feature-list {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  gap: 30px;
}
.feature .container .feature-list li div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-work;
  border-radius: 15px;
  height: 120px;
  margin-bottom: 15px;
  width: 270px;
}
.feature .container .feature-list li div .feature-list__icon-feature {
  width: 70px;
  height: 70px;
}
.feature .container .feature-list li .feature-list__desciption {
  list-style: none;
  width: 270px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-segundo-texto;
}
.feature .container .feature-list li .feature-list__title {
  text-transform: uppercase;
  color: $color-principal-texto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 10px;
}
