.hero--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.hero--is-hidden .modal {
  transform: translate(50%, -50%) scale(3);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000002d;
  z-index: 5;
}
.modal {
  position: absolute;
  background: $color-primario-fondo-pantalla;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 530px;
  height: 580px;
  left: 50%;
  top: 221px;
  margin-top: -205px;
  margin-left: -270px;
  padding: 40px;
  text-align: left;
  transform: translate() scale(1);
  transition: transform 250ms ease-in;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
section .backdrop .modal > .btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 30px;
  border: 1px solid #0000001a;
  background-color: $color-primario-fondo-pantalla;
  cursor: pointer;
}
.icon-close {
  fill: #000000;
}
section .backdrop .modal .btn-modal:hover .icon-close {
  fill: $color-web;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: linear;
}
.modal-relative {
  display: flex;
  flex-direction: column;
}
.modal > h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: left;
  letter-spacing: 0.03em;
  color: $color-principal-texto;
  padding-bottom: 12px;
}
.conditions {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-segundo-texto;
  top: 357px;
  left: 40px;
  position: absolute;
}
.label-modal {
  padding-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $color-segundo-texto;
}
textarea {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}
.modal-form {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 40px;
}
.modal-relative {
  position: relative;
}
.svg-modal-v1 {
  position: absolute;
  top: 11px;
  left: 13px;
}
.modal-form:hover,
.modal-form:focus,
textarea:hover,
textarea:focus {
  border: 1px solid $color-web;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: linear;
}
.svg-modal-v1:hover {
  fill: $color-web;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: linear;
}
.modal-form:hover + .svg-modal-v1,
.modal-form:focus + .svg-modal-v1 {
  fill: $color-web;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: linear;
}
.btn-modal-submit {
  position: absolute;
  top: 420px;
  margin-left: 120px;
  background: $color-web;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: $color-primario-fondo-pantalla;
  border-style: none;
  cursor: pointer;
  padding: 10px 80px;
}
.modal-form-coment {
  position: relative;
  padding-left: 40px;
  display: flex;
}
.checkbox {
  position: absolute;
  top: 11px;
  right: 27px;
}
.check {
  position: absolute;
  top: 11px;
  left: 13px;
}
.checkbox {
  display: block;
  width: 17px;
  height: 15px;
  position: relative;
  border: 2px solid $color-principal-texto;
}
.checkbox:checked {
  background-color: $color-web;
}
.checkbox:focus {
  border: 2px solid $color-principal-texto;
  outline: none;
}
.checkbox:checked {
  border: 2px solid $color-web;
}
.hero--hidden {
  appearance: none;
}
