.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .page-header .container nav .menu {
    display: none;
  }
  .mobile-hidden {
    display: none;
  }
  .menu-toggle {
    order: 1;
  }
  footer .container {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .mobile-hidden {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 32px;
  background-color: $color-primario-fondo-pantalla;
  z-index: 55;
  overflow: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}
.menu-container .menu-toggle:hover,
.icon-close:hover {
  fill: $color-web;
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-container .mobile-menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 250px;
  gap: 20px;
}
.menu-container .mobile-menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.menu-container .mobile-menu a:hover {
  color: $color-web;
}
.menu-container .page-header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  padding-top: 250px;
}
.menu-container .page-header a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $color-segundo-texto;
}
.menu-container .page-header a:hover {
  color: $color-web;
}
.menu-container div {
  display: flex;
  gap: 15px;
}

.menu-container div {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $color-web;
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
