h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $color-segundo-texto;
  cursor: pointer;
}
textarea {
  resize: none;
}
body.modal-open {
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
