$color-principal-texto: #212121;
$color-segundo-texto: #757575;
$color-web: #2196f3;
$color-primario-fondo-pantalla: #ffffff;
$color-segundo-fondo-pantalla: #2f303a;
$iconos: #afb1b8;
$color-work: #f5f4fa;
